# dependencies
node_modules/
.pnp
.pnp.js

# next.js
apps/web/.next/
apps/web/out/

# nest / node build
apps/api/dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# misc
.DS_Store
*.log
npm-debug.log*
coverage/
.turbo/
